{% extends 'core/base.html' %}
{% block conteudo %}
    <h2>{{ filme.titulo }}</h2>
    <p><strong>Diretor:</strong> {{ filme.diretor }}</p>
    <p><strong>Estúdio:</strong> {{ filme.estudio }}</p>
    <p><strong>Gênero:</strong> {{ filme.get_genero_display }}</p>
    <p><strong>Sinopse:</strong> {{ filme.sinopse|default:"—" }}</p>
    <p><strong>Duração:</strong> {{ filme.duracao_minutos }} minutos</p>
    <p><strong>Lançamento:</strong> {{ filme.data_lancamento }}</p>
    <p><strong>Assistido:</strong> {{ filme.assistido|yesno:"Sim,Não" }}</p>

    <a class="btn" href="{% url 'filme_update' filme.pk %}">Editar</a>
    <a class="btn" href="{% url 'filme_delete' filme.pk %}">Excluir</a>
    <a href="{% url 'filme_list' %}">&larr; Voltar</a>
{% endblock %}
